.card {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1s ease-in forwards;
  z-index: 2;
}
.card_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills the card */
  z-index: 0;
  filter: brightness(0.6); /* darken for better content contrast */
}

/* .card:hover::after {
  content: "asd";
  width: 100px;
  height: 30px;
  background-color: rgba(231, 252, 0, 0.922);

} */
.glowing_element {
  position: absolute;
  bottom: -333;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  background: radial-gradient(
    circle,
    rgba(175, 209, 6, 0.5) 0%,
    transparent 70%
  );
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease-in-out;
  animation: animateBlob 8s ease-in-out infinite alternate;
  pointer-events: none; /* Prevents the glowing element from interfering with mouse events on the container */
  animation: morphing 10s ease-in-out infinite alternate,
    floating 12s ease-in-out infinite, moving 15s ease-in-out infinite alternate; /* New animation for movement */
}

.card:hover {
  /* animation: hoverEffect 0.2s ease-in-out; */
  transform: translateY(-10px);
}
.card:hover .glowing_element {
  opacity: 1; /* Show on hover */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverEffect {
  0% {
    top: 0;
  }
  0%,
  100% {
    top: -20;
  }
}

@keyframes animateBlob {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 50% 60% 40% 50%;
  }
  25% {
    border-radius: 70% 30% 40% 60% / 40% 50% 50% 60%;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 60% 40% 30% 70% / 60% 40% 50% 50%;
  }
  75% {
    border-radius: 30% 70% 60% 40% / 50% 50% 60% 40%;
    transform: rotate(-45deg);
  }
}
@keyframes morphing {
  /* Shape 1 (Start) */
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }

  /* Shape 2 (Middle) */
  50% {
    border-radius: 50% 50% 40% 60% / 50% 50% 50% 50%;
  }

  /* Shape 3 (End) */
  100% {
    border-radius: 60% 40% 40% 60% / 30% 70% 30% 70%;
  }
}
